## Topics covered so far**
- Intro to jupyter Notebook

**loops**
- **For loop syntax**

In [2]:
for i in"GITAM":
    print(i);

G
I
T
A
M

In [4]:
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

- range (start,stop,step)
- range(stop)
- range (start,stpp)

In [8]:
#default values for start=0, step=1
for i in range (5,10):
    print(i)

5
6
7
8
9

In [13]:
for i in range (1,6,2):
    print(i)

1
3
5

In [21]:
for i in range(-100,-90):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91

In [23]:
for i in range(100.10,99.8 ):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
#generate even number below 100
for i in range(0,100,2):
    print(i,end='\t')

0	2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

In [29]:
#generate multiples of(23,140) both 23 and 140 are ixclusive
for i in range(23,141):
    if i%7==0:
        print(i,end='\t')

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

In [32]:
for i in range(28,141,7):
    print(i, end='\t')

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

While syntax:

    intialization
    while condition
          statements
          increment/decrement(variable updation)

In [35]:
i =23
while i<=140:
    if i%7==0:
        print(i,end=' ')
    i=i+1

28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

#read numbers from keyboard . stop the reading whenever user enters done

    Example:
    
    input
    12
    45
    done

In [ ]:
n= int(input("enter a number:"))
while n!="done":
    print(n)
    n= input ("enter a number:")

enter a number:32
32
enter a number:priya
priya

In [12]:
#vowel count in a string
#example: gitam
#o/p=2
n=(input("enter a string"))
vowel=0
for each in n:
    if each in 'aeiou':
        vowel=vowel+1
print(vowel)

enter a stringpri
1

In [19]:
n=(input("enter a string:"))
vowel=0
for i in n:
    if (i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        vowel=vowel+1
print(vowel)

enter a stringpriyanka
3

In [18]:
n=(input("enter a string:"))
ch=input('element:')
c=0
for each in n:
    if each == ch:
        c=c+1
print(c)

enter a stringabrakadabra
elementa
5

check the vowel count and consonant count in a string if both are equal print <br>
lucky name <br>
constraints: there are only alphabets in string <br>
i/p gita <br>
o/p lucky name <br>

Lists<br>
to create an empty list<br>
- list()
- []

In [20]:
#ways to print empty list
empty_list =[]
empty_list1 =list()
print(empty_list,empty_list1)

[] []

In [21]:
marks =[32,56,48]

In [22]:
for i in marks:
    print(i)

32
56
48

In [26]:
#to access 1st element
print(marks[0])
print(marks[-3])
print(marks[-len(marks)])
#no of element in the list
print(len(marks))
#to access the 1st element
print(marks[2])
print(marks[len(marks)-1])
print(marks[-1])

32
32
32
3
48
48
48

In [27]:
marks[0]=31
print(marks)

[31, 56, 48]

In [28]:
L= list(range(2,32,2))
L

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [36]:
#Slicing listname[start:stop:step]
#by default start=0,stop=len(L),step=1
L[:3]
print(L[:3])
print(L[0:3:1])

[2, 4, 6]
[2, 4, 6]

In [38]:
print(L[::-1])

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [40]:
#to print alternate elements in given list
print(L[0::2])
print(L[0:len(L):2])

[2, 6, 10, 14, 18, 22, 26, 30]
[2, 6, 10, 14, 18, 22, 26, 30]

In [43]:
print(L[-1:-5:-1]) #elements with indices[-1,-2,-3,-4]

[30, 28, 26, 24]

In [44]:
marks

[31, 56, 48]

In [50]:
#to add an element
marks.append(55)
print (marks)

[31, 56, 48, 55, 55]

In [51]:
#to remove last element
print(marks)
marks.pop()
print (marks)

[31, 56, 48, 55, 55]
[31, 56, 48, 55]

In [53]:
#to remove particular number based on index
print(marks)
marks.pop(2)
print (marks)

[31, 56, 48, 55]
[31, 56, 55]

In [54]:
#to remove number when index not known
print(marks)
marks.remove(56)
print(marks)

[31, 56, 55]
[31, 55]

In [55]:
m1= [34,67,99]
marks.append(m1)#appending list
marks

[31, 55, [34, 67, 99]]

In [57]:
print (marks)

[31, 55, [34, 67, 99]]

In [58]:
marks.pop()

[34, 67, 99]

In [59]:
print(marks)

[31, 55]

In [60]:
marks.extend(m1)#concatenation of 2 lists
marks

[31, 55, 34, 67, 99]

In [63]:
marks.append(99)
print(marks)
#to count no marks in a list
print(marks.count(99))

[31, 55, 34, 67, 99, 99, 99, 99]
4

In [64]:
marks.pop()

99

In [65]:
s='abrakadbra'
print(s[0])
print(s[-1])
print(s[:4])

a
a
abra

## user defined functions

In [66]:
def hello():
    print("welcome to gitam")

In [67]:
hello()

welcome to gitam

In [69]:
print(print('check'))

check
None

In [76]:
#with an argument and without return value
def hellowithname(name):
    print("welcome to gitam",name)

In [77]:
hellowithname('priyanka')

welcome to gitam priyanka

#### function using doc string

In [78]:
#with an argument and a return value
def power(a,b):
    '''this function to calculate a power b.
    the return value for function is a**b
    example:
    >>>power(3,2)
    >>>9
    '''
    return a**b

In [80]:
res=power(2,3)
print(res)

8

In [83]:
#with an argument and without return value
def hellowithname1(name='Mr X'):
    print("welcome to gitam",name)

In [84]:
hellowithname1()

welcome to gitam Mr X

In [85]:
def hellowithfullname(fname,lname='gitam'):
    print("welcome to gitam",fname,lname)

In [86]:
hellowithfullname('hyd')

welcome to gitam hyd gitam

In [87]:
def hellowithfullname(fname='hyd',lname):
    print("welcome to gita",fname,lname)

SyntaxError: non-default argument follows default argument (<ipython-input-87-f77e5d33a3b2>, line 1)

## other than zero for any output default is 0

In [89]:
while 0:
    print('check')

In [90]:
if -10:
    print('check')

check

In [91]:
if'':
    print('check')

In [93]:
n=5
while n==7:
    print(n)
    n=n+1

In [95]:
for i in range(5,5):
    print(i)

In [97]:
for i in range(5,-5):
    print(i)

In [98]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [100]:
s='gitam'
s.capitalize()

'Gitam'

In [101]:
s.upper()

'GITAM'

In [102]:
# mahesh Babu
# Mahesh Babu
# MAHESH BABU
# mAHesh Babu
#    mahesh BABU
#o/p Mahesh Babu

In [104]:
# strip,rstrip,lstrip,capitalize,swapcase,upper,lower,title,split

In [106]:
#calculate how many unique characters are there in a string

In [ ]:
# calculate no words in paragraph